<div class="card text-white bg-info" >
    <div class="card-header">Which pokemon am I?</div>
    <div class="card-body">
      <h5 class="card-title">Info card title</h5>
      <p class="card-text">Hey! Have you ever wonder which Pokemon would you be? You can find it out now! Just click on the following button and let the fate choose instead of you. Hope you get the one you like the most.</p>
        <button class="btn btn-primary" (click)="lucky()">I'm feeling lucky</button>
    </div>
  </div>